body,
html {
	height: 100%;
	margin: 0;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

textarea:focus,
input:focus {
	outline: none;
}

input,
textarea {
	border-style: none;
	resize: none;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

main {
	/* Full height */
	background-image: url("img/cool-background.png");
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	border-style: none;
	background-color: transparent;
	cursor: pointer;
}

li {
	list-style-type: none;
}
.journal-container {
	display: flex;
	min-width: 700px;
	height: 800px;
	background-color: white;
	border: 2px solid #8ed1f0;
	border-radius: 10px;
	margin: 0 auto;
}

.journal-menu {
	width: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #8ed1f0;
}

.journal-menu button {
	width: 100%;
	height: 70px;
	color: white;
}

.home-container {
	display: grid;
	margin: 0 auto;
	width: 75%;
}

#home-form {
	display: contents;
}

.home-input {
	display: flex;
	flex-direction: column;
}

.home-input span {
	font-size: 2rem;
	font-weight: 500;
}

.home-input input {
	margin-top: 10px;
	height: 50px;
	border-bottom: 2px solid #8ed1f0;
	font-size: 1.8rem;
}
.journal-header {
	text-align: center;
	font-weight: 500;
	text-decoration: underline #8ed1f0;
}
.home-header {
	text-align: center;
}
.refresh-button {
	color: #8ed1f0;
}
